@font-face {
    font-family: "Rapfont";
    src: url("BronxBystreets-aDqK.ttf");
  }
body{
    height: 100vh;
    width: 100%;
    margin: 0;
}
header{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding-left: 30px;
    background-image: url(rap.jpg);

}
footer{
    height: 20%;
    background-color: #D9D9D9;
    bottom: 0;
    position: absolute;
}
nav a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.99rem;
    margin: 50px;
    color: white;
    font-family:Rapfont;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}
nav a:hover{
    opacity: 0.8;
    transition:0.4s;
}
header h1{
    font-family: Rapfont;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
}
header #cimlink:hover{
    opacity: 0.8;
    transition: 0.4s
}
nav{
    justify-content: space-between;
    width: 100%;
    
}
.hambimenu{
    display: block;
}
.hambimenu span{
    width: 20%;
    background-color: black;

}

#shop_content{
    display: block;
    cursor: pointer;

}
.in_shop{
    display: flex;
    flex-direction: row;
}
.shop img{
    width: 50%;
}
.shop h1{
    background-color: #D9D9D9;
    width: 20%;
    border-radius: 15px;
    padding:  15px ;
    text-align: center;
    margin: 5% 5%;
    margin-right: 0;
    
}
#cimlink{
    margin-left: 0;
    font-size: 1.9rem;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}