@font-face {
    font-family: "Rapfont";
    src: url("Timegoing\ Regular.ttf");
  }
body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;

}

/*Header*/
header{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding-left: 30px;
    background-image: url(./kepek/rap.jpg);
    
}
footer{
    height: 20%;
    background-color: #272525;
    bottom: 0;
    color: white;
    position: relative;
    height: 30vh;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Rapfont;
    font-size: 2.4rem;

    margin-bottom: 0;

    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 50%;

    
}
nav img{
    float: right;
    width: 80px;
}

.hambimenu{
    display: none;
   width: 40px; 
   height: 60px;
   position: absolute;
   cursor: pointer;
   right: 15px;

   
}
.line{
    position: absolute;
    height: 6px;
    width: 100%;
    background: white;
    transition: 0.5s;
   

}
.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

.hambimenumain{
    display: flex;
        flex-direction: column;
        text-align: center;
        gap: 80px;
        width: 30%;
        height: 60%;
        background-color: grey;
        right: -100%;
        top: 21%;
        position: absolute;
        transition: 0.4s;
        opacity: 1;
        border-radius: 0px;
   
}
.hambimenumain a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    margin-top: 15px;

}


#cimlink{
    margin-left: -30px;
    font-size: 1.9rem;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: Rapfont;

}



@media only  screen and (max-width: 953px){
    nav a{
        display: none;
    }
    .hambimenu{
        display: flex;
        flex-direction: row;
    }
    .navlink.active{
        display: block;
    }
    .hambimenumain .navkep.active{
        display: block;
    }
    .hambimenumain.active{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 80px;
        width: 30%;
        height: 60%;
        background-color: grey;
        right: 0;
        top: 169px;
        position: absolute;
        transition: 0.4s;
        opacity: 1;
        border-radius: 0px;
  
    }
    .hambimenumain img{
        width: 30%;
    }
    .hambimenu.active :nth-child(1){
            rotate: 45deg;
            transform: translateY(8px);
    }
    .hambimenu.active :nth-child(2){
        rotate: -45deg;
        transform: translateY(-10px);
    }
    .hambimenu.active :nth-child(3){
        opacity: 0;
    }
}