@font-face {
    font-family: "Rapfont";
    src: url("BronxBystreets-aDqK.ttf");
  }
body{
    height: 100%;
    width: 100%;
    margin: 0;

}

/*Header*/
header{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding-left: 30px;
    background-image: url(./kepek/rap.jpg);
    
}
footer{
    height: 20%;
    background-color: #272525;
    bottom: 0;
    color: white;
    position: relative;
    height: 30vh;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Rapfont;
    font-size: 2.4rem;

    margin-bottom: 0;

    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 50%;

    
}
nav img{
    float: right;
    width: 80px;
}
.hambimenu{
    display: block;
}
.hambimenu span{
    width: 20%;
   

}
#cimlink{
    margin-left: -30px;
    font-size: 1.9rem;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: Rapfont;

}
.hambimenu{
    display: none;
   width: 40px; 
   height: 60px;
   position: absolute;
   cursor: pointer;
   right: 15px;

   
}
.line{
    position: absolute;
    height: 6px;
    width: 100%;
    background: white;
    transition: 0.5s;
   

}
.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

.hambimenumain{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 20%;
    height: 40%;
    background-color: grey;
    right: -20%;
    top: 19%;
    position: absolute;
   
   
}
.hambimenumain a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    margin-top: 15px;
}