@font-face {
    font-family: "Rapfont";
    src: url("BronxBystreets-aDqK.ttf");
  }
body{
    height: 100vh;
    width: 100%;
    margin: 0;
}

/*Header*/
header{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(./kepek/rap.jpg);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 120%;
    border-bottom: 10%;
    border: pink;
    
    
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items:
    center;
    padding-bottom: 28px;
    padding-left: 50px;
    gap: 25px;

}
#cimlink{

    font-size: 1.9rem;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: Rapfont;

}
footer{
    height: 20%;
    background-color: #D9D9D9;
    bottom: 0;
    position: absolute;
}
nav a{
    text-decoration: none;
    font-size: 2.99rem;
    font-family:Rapfont;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
 
  
}
nav a:hover{
    opacity: 0.8;
    transition:0.4s;
}
#cimlink:hover{
    opacity: 0.8;
    transition:0.4s;
}

.hambimenu{
    display: block;
}
.hambimenu span{
    width: 20%;
    background-color: black;

}
nav img{
    width: 150px;
    float: right;
    right: 0;

}

nav a:nth-child(3){
    right: 0;
    margin-left: 50%;

}
nav a:nth-child(3):hover{
    opacity: 0.8;
    transition: 0.4s

}



/*Main*/

.elemkepe{
    width: 30%;
    height: 90%;
}
.megrendel{
    display: flex;
    flex-direction: row;
    border-top: 2px solid rgb(112, 33, 33);
    
    
    
}
.elemneve{
    font-size: 50px;
}
.leiras{
    display: flex;
    flex-direction: column;
}
.elemszoveg{
    padding-top: 0%;
    margin-top: 10px;
    width: 60%;
    border-top:4px ;
    border-bottom: 4px;
    border-left: 0;
    border-right: 0;
    border-style:groove;
    padding: 15px 0;
}
.elemneve{
    margin: 0%;
}
.elemara{
    font-size: 25px;
}
.megrendelgomb{
    width: 20%;
    margin-left: 0%;
    height: 10%;
    border-radius: 0%;
    border-color: red;
    font-family: "Bebas Neue";
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;

}
.megrendelgomb:hover{
    background-color: #D9D9D9;
    opacity: 0.9;
    transition: 0.4s;

}
.kerekecskegombocska{
    border-radius: 0%;
    border-color: black;
    width: 40% ;
    height: 115%;
}
.miau{
    font-size: 23px;
    font-family: "Bebas Neue";
}
.kosar{
    width: 90%;
    height: 80%;
    padding-right: 0%;
    padding-left: 100%;
}

